.App {
  text-align: center;
  background:white;
}

#PhotoBlog {
  width: 100%;
  height: 100%;
}

#headTri {
  height: 170px;
  transform: skewY(-6deg);
  width: 100%;
  z-index: 1;
  position: relative;
  margin-top: -110px;
  background:
  url(
   data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAE0lEQVQYV2NkwAIYqSxoamo6EwAEGgE+TyqK5wAAAABJRU5ErkJggg==
  ) repeat,
  black;
  opacity: 0.95;
}
